body{
    display: flex;
    align-items: center;
    background: #ffffff;
    margin: 30px auto;
    width: 642px;
    height: 673px;
    border: 1px solid rgb(212, 206, 206);
    border-radius: 20px;   
    flex-direction: column;
    font-family: Roboto;
    gap: 10px;
    padding: 40px;
    box-shadow: 0px 0px 14px 0px #c5c5c566;;
    animation: aparecer 1s;
    padding-bottom: 50px;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cac3c3;
}

.before{
    border: white;
    background-color: #ffffff;
}

.next{
    border: white;
    background-color: #ffffff;
}

.date {
display: flex;
text-align: center;
align-items: center;
font-family: Roboto;

}

.dateRight {
    display :contents;
    align-items : center;
    justify-content:center;
}

#dateNumber{
    font-size:  50px ;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;   
}

#dateMonth{
    text-transform: uppercase;
    width: 100%;
    
 padding-right: 5px; 
}

#dateText {
    text-transform: uppercase;
    width: 100%;
    justify-content: center;
}

#dateNumber,
#dateText {
    font-size: 16px;
    align-items: center;
    text-align: center;
}

#dateMonth,
#dateYear{
    display: flex;
    position: relative;
    font-size:  16px ;
    font-family:  Roboto;
    text-align: center;
}

.mes{
    display: flex;
    flex-direction: row;
 
    }

.cont {
    width: 100%;
}

label.labelTitulo {
 font-weight: 900;
 font-size: 24px;
 display: flex;
 align-items: center;
 gap: 10px;
}

label.labelTitulo svg{
    width: 40px;
    margin-left: -8px;
    
}

.control{
    display: flex;
    justify-self: stretch;
    gap: 10px;
    margin-top: 20px;
}

.input, .buttonAgregar{
    display: block;
    height: 50px;
    box-sizing: border-box;  
}

.input {
    border:2px solid #cac3c3;
    border-radius: 4px;
    flex:1px;
    padding-left: 10px;
    font-size: 16px;
}

.buttonAgregar{
    border: 2px solid #6EC3B4;
    background-color: #8EEDDC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 55px;
    justify-content: center;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
    }

.task.cont i{
    display: flex;
    align-items: center;
}

 .task.cont i svg{
        width: 20px;
        fill: rgb(34, 32, 32);
        gap: 10px;
        align-items:center;
        padding: 7px;
        outline: none;
        cursor: pointer;
}

.taskContainer{
    width: 100%;
}

.task.cont {
    background-color:  white;
    border:1px solid #C5C5C5;
    border-radius: 4px;
    height: 50px;
    padding: 10px ;
    margin-top : 15px ;
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    animation: aparecer 0.5s;
}

.task.cont i:first-child{
    order: 0;
}

.task.cont i:last-child{
    order: 2;
    opacity: 0.5;

}

.task.cont i:last-child:hover{
    order: 2;
    opacity: 0.9;
    
}

.task.cont p{
    order: 1;
    flex: 1;
user-select: none;
pointer-events: none;
}

ul {
    padding: 0;
  }

.task.cont.done p{
    text-decoration: line-through ;
}

.empty {
    display: flex;
    align-items: center;
    order: 0;
    font-family: Roboto;
    width: 100%; 
    justify-content: flex-end;
    opacity: 0.5;
}

.empty #contar{
    margin-right: 10px;
}

.noTask{
    display: none;
}

.task.drag{
    background-color:#8EEDDC;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@media  (max-width:690px){
    body{
        margin: 0px auto;
        width: 100%;
        border: none;
        border-radius: 0px;   
        box-shadow: none;
        padding-bottom: 0px;
    }

    .input {
        width: 100%;
    }
}

#app{
    display: none;
}

#app.show{
    display: block;
}

#login{
    display: none;
    border-radius: 4px;
    margin-top : 15px ;
    width: 100%;
    animation: aparecer 0.5s;
    align-content:center ;
    flex-direction: column;
}
#login.show{
    display: flex;
    padding: 250px;
    width: 100%;
}

.login-wrapper{
    width: 350px;
    align-self: center;
}

#app{
    display: none;
    align-items: center;
}

#app.show{
    display: block;
}

.user {
    display: flex;
    width: 100%;
    
    align-items: center;
    border-bottom:1px solid #C5C5C5;
    padding-bottom: 10px;
}

.titulo{
    display: flex;
    font-size: 25px;
    font-weight: bold;
}


#img{
    border-radius: 100px;
    width: 50px;
    height:50px;
}

.option{
    display: flex;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgb(197, 188, 188);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 210px;
    height: 168px;
    right: 0px;
    top: 55px;
    box-shadow: 0px 0px 14px 0px #c5c5c566;
    display: none;
    z-index: 10;
}


.userimg{
    position: relative;
    justify-content: flex-end;
    margin-left: 72%;
}

#name{
    font-size: 16px;
    margin-bottom: 1px;
}

#email{
    color: #817b7b;
    font-size: 14pxs;
    margin-top: 0px;
}

.userimg:hover .option{
 display: block;
}

#tema{
    display: flex;
    width: 90%;
    justify-content:space-between;
    margin-top: 0;
}

#btlogout{
    border: white;
    background-color:white;
    font-size: 16px;
    padding: 0;
}

.id_email{
    border-bottom: 1px solid #C5C5C5; 
 }

 .switchCont{
     display: flex;
     padding-top: 20px;
 }

.switch .circle{
    width: 15px;
    height: 15px;
    background-color: #636363;
    border-radius: 50%;
    position: absolute;
    right: 32px;
    margin-top: 1px;
    transition: all .5s;
}

.switch .bg{
    width: 35px;
    height: 18px;
    background-color: #afa7a7;
    border-radius: 20px;
}

.switch.active .circle{
    left: 208px;
    background-color: #000000;
    transition: all .5s;
}

#mod.dark_mode{
    background-color: #000000;
    border-color: #9795954f;
    box-shadow: 0px 0px 0px 0px;
}

#mod.dark_mode .titulo{
   color: white;
}

#mod.dark_mode #dateText{
    color: white;
 }
 #mod.dark_mode #dateNumber{
    color: white;
 }
 #mod.dark_mode #dateMonth{
    color: white;
 }
 #mod.dark_mode #dateYear{
    color: white;
 }

 #mod.dark_mode .user{
    background-color: #000000;
    border-color: #9795954f;;
 }

 #mod.dark_mode .before {
    background-color: transparent;
 }

 #mod.dark_mode .before svg path{
    fill: white;
 }

 #mod.dark_mode .next {
    background-color: transparent;
 }

 #mod.dark_mode .next svg path{
    fill: white;
 }

 #mod.dark_mode .head{
    background-color: #000000;
    border-color: #9795954f;;
 }

 #mod.dark_mode .input{
    background-color: #000000;
    border-color: #9795954f;
    color: white;
 }

 #mod.dark_mode .task.cont{
    background-color: #000000;
    border-color: #9795954f;
 }

 #mod.dark_mode .task.cont p{
    color: white;
 }

 #mod.dark_mode .empty #contar{
    color: white;
 }

 #mod.dark_mode .empty p{
    color: white;
 }

 #mod.dark_mode .task.cont i svg {
    fill: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
}

#mod.dark_mode .task.cont i svg path {
    fill: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
}

#mod.dark_mode .task.cont i {
    fill: rgb(255, 255, 255);
}

#mod.dark_mode .before svg {
    fill: rgb(255, 255, 255);
}

#mod.dark_mode .task.cont  svg{
    fill: white;
}

#mod.dark_mode .task.cont {
    fill: white;
}

#mod.dark_mode .option{
    background-color: black;
    border-color:  #9795954f;
    box-shadow: 0px 0px 0px 0px;
}

#mod.dark_mode .id_email{
    border-bottom: 1px solid  #9795954f;

}

#mod.dark_mode #name{
    color: white;
}

#mod.dark_mode #tema{
 color: white;
}

#mod.dark_mode #btlogout{
    border: black;
    background-color:black;
    color: white;
}

#mod.dark_mode .login-wrapper p{
    color: white;
}

#mod.dark_mode .labelTitulo{
    color: white;
}


#mod.dark_mode .btnlogin{
    background-color: black;
    border-color:  #9795954f;
    color: white;
}

.btnlogin{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border:1px solid #aca8a8;
    border-radius: 10px;
    padding: 7px;
    padding-right: 10px;
    width: 250px;
    justify-content: center;
}

.login-wrapper p{
    line-height: 1.7;
}

.btnlogin svg{
    padding-right: 15px;
}

